{% extends 'base.html' %}
{% block content %}
<div class="d-flex justify-content-center">
    <div class="display-2" style="margin: 20px" > Payment / Checkout Cart </div>
</div>
<br>
    <div class="h-100 d-flex" style="margin: 0px 100px 100px 60px;">
    <br>
        <table class="table mt-2 table-bordered">
            <thead>
                <tr>
                <th scope="col">Medicine ID</th>
                <th scope="col">Medicine Name</th>
                <th scope="col">Medicine Price</th>
                <th scope="col">Medicine Stock</th>
                <th scope="col">Medicine Stock Checkout</th>
                </tr>
            </thead>
            <tbody>
                <form method="POST">
                {% for medicine in medicines %}
                    <tr>
                    <th scope="row">{{ medicine['medicine_id'] }}</th>
                    <td>{{ medicine['medicine_name'] }}</td>
                    <td>{{ medicine['medicine_price'] }}</td>
                    <td>{{ medicine['medicine_stock'] }}</td>
                    <td>
                        <input type="number" class="form-control" id="input1" placeholder="0 - {{medicine['medicine_stock']}}" pattern="[0-9]+">
                    </td>
                    </tr>
                {% endfor %}
                </form>
            </tbody>
        </table>
    </div>
    <div class="d-flex flex-column" style="margin: -120px 100px">
        <a href="{{ url_for('CheckOut') }}" class="btn btn-sm btn-primary mt-3 align-self-end">Checkout</a>
    </div>
</div>
{% endblock %}