{% extends 'base.html' %}
{% block content %}
<br></br>
<h1>คลังยา</h1>
<hr/>

<table>
    <tr>
      <th>Medicine ID</th>
      <th>Name</th>
      <th>Information</th>
      <th>Price</th>
      <th>Stock</th>
    </tr>
    {% for med in medsList %} 
    <tr>
      <th scope="row">{{ med['medicine_id'] }}</th>
      <td>{{ med['medicine_name'] }}</td>
      <td>{{ med['medicine_detail'] }}</td>
      <td>{{ med['medicine_price'] }}</td>
      <td>{{ med['medicine_stock'] }}</td>
    </tr>
    {% endfor %}
  </table>

{% endblock %}